/*--------------- CSS Quick Fixes----------------------------- */

:root {
   box-sizing: border-box;
 
   --button-bg-color: #567b95;
   --button-bg-hover-color: #3b5568;
   --link-text-color: #246a9c;
   --icons-bg-color: #eee;
   --text-color-dark: rgb(12, 11, 11);
   --text-color-light: rgb(105, 102, 102);
 }
 
 *,
 ::before,
 ::after {
   box-sizing: inherit;
 }

 /*----------x------ CSS Quick Fixes ----------x------------------*/

:root{
   /* Theme colors */
   --black: #272A31;
   --red:#EC5242;
   --white:#D3D3D3;  

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,html,
body{
   /* overflow-x: hidden; */
   font-family: 'Lato', sans-serif;
   background: url(assets/images/bg-img.jpg);
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face{
   font-family: "cocogoose";
   src: url(/assets/fonts/cocogoose/Cocogoose-Thin.ttf);
   font-style: normal;
   font-weight: 100;
}
.top-social {
   background: var(--black);
   height: 2.8rem;
   padding: .5rem 0;
   }

   .top-social a{
      text-decoration: none;
      color: dark;
      font-size: 1.1rem;
      padding: .5rem;
   }
   .navbar{
   font-size: 1.14rem;
   font-weight: 900;
   letter-spacing: .1rem;  
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
   z-index: 1; 
   }

   .nav-item {
      padding: .5rem;
      
   }

   .nav-link.active,
   nav-link:hover {
      color: var(--red) !important;
   }
  
   .logo {
      width: 2rem;
      height: 4rem;
      margin-top: 0rem;
   }

   .top-title>h1{
      margin: 1rem 1rem 1rem;
      color: var(--red);
      font-weight: bolder;
         
   }
   .top-title>h3{
      margin: 1rem 1rem 1rem;
      color: var(--red);
   }


   h1.big-p{
     margin: 1rem 1rem 1rem;
     border: 1px solid red;
     
         }
  .top-pg>p, div.small-article{
   margin: 1rem 1rem 1rem;;
   border: 1px solid red;
   font-family: 'Lato', sans-serif;
   color: var(--black);
  }
  
  
.main-program>.lecture{
   border: 1px solid red;
}







.main-program{
   background-image: url('../assets/images/main-bg.svg');
   position: rel;
   background-size: cover;
   text-align: center;
   width: 1005;
}

.line-break{
   border: 0px solid var(--red);
   width: 0rem;
   margin: 0 auto;
}

  .lecture-article{ 
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white);
   }
  

.lecture-logo{
   width: 18%;
   background: #adabab38;
   padding: 0.7rem;
   height: 14rem;
   line-height: 1.2;
}

.p-head{
   font-size: 1.2rem;
   color: var(--red) ;
} 

.p-details{
   font-size: medium;
}

  h3.main-h{
     margin-top: 2rem;
  }
.lecture-para{
   display: flex;
   border: 1px dotted pink;
   flex-direction: row;
   flex-wrap: wrap;
   box-sizing: border-box;
   
}
div.lecture-para{
   width: 80%;
   height: 50%;
   margin: auto; 
}

.speaker{
   height: 100%;
   width: 100%;
}

.lecture-para> p{
   display: flex;
   padding-left: 6rem;
   padding-bottom: 4rem;
   justify-content: flex-end;
   color: white;
}
.lecture-logo>img {
   height: 40%;
   width: 60%;
   padding-left: 2rem;
} 
.lecture-logo>h4{
   padding-left: 10rem;
   
}


/* ------Navigation----------  */
   

 
 /* -----------------------------MEDIA QUERIES-------------------------------- */
 /*------ Device under 768px------ */

 @media only screen and (max-width: 768px){
   .navbar-logo{
      display: none;
   }
   .logo{
      display: none;
   }
   .top-social{
      display: none;
   } 

   .lecture-article{
      flex-direction: column;
      margin: 2.5rem 0;
 }

 .lecture-logo{
    width: 100%;
    margin: -1rem auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    text-align: left;
    height: auto;
}

.p-head{
   font-size: 1.3rem;
   overflow-wrap: break-word;
}

.p-details{
   font-size: medium;
}

 }

 /* -----------Device under 1024px--------- (xl) */

 @media only screen and (max-width: 1024px){
  

 }
/* ---------Bootstrap mobile gutter fixed------ */
.row, .container-fluid {
   margin-left: 0px !important;
   margin-right: 0px !important;
}

/* ----Fixed background image----- */
.fixed-background {
   position: relative;
   width: 100%;
   z-index: 1000 !important;
}
.fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.fixed {
   z-index: -199 !important;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translate(0);
}