/* --------------- CSS Quick Fixes----------------------------- */

:root {
  box-sizing: border-box;

  --button-bg-color: #567b95;
  --button-bg-hover-color: #3b5568;
  --link-text-color: #246a9c;
  --icons-bg-color: #eee;
  --text-color-dark: rgb(12, 11, 11);
  --text-color-light: rgb(105, 102, 102);
  --black: #272a31;
  --red: #ec5242;
  --white: #d3d3d3;
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* ----------x------ CSS Quick Fixes ----------x------------------ */

*,
html,
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "cocogoose";
  src: url("../assets/fonts/Cocogoose_trial.ttf");
  font-style: normal;
}

.top-social {
  background: var(--black);
  height: 3rem;
}

.top-social a {
  text-decoration: none;
  font-size: 1.5rem;
  padding-left: 1rem;
}

i {
  margin-top: 0.5rem;
}

.navbar {
  font-size: 1.14rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link.active,
.nav-link:hover {
  color: var(--red) !important;
}

.red-button {
  border-width: 0.2rem;
  border-color: var(--red);
}

.logo {
  width: 2rem;
  height: 4rem;
  margin-top: 0;
}

/* Media queries for navigation bars */

@media (min-width: 768px) {
  .pg4,
  .pg5 {
    display: none;
  }

  .date,
  .place {
    margin-left: 4.5rem;
  }

  .img-place {
    margin-left: 4rem;
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 768px) {
  .top-social {
    display: none;
  }
}

/* ----------Main section here--------------- */

.top-info {
  background:
    linear-gradient(rgba(247, 242, 242, 0.068), rgba(245, 240, 240, 0.096)),
    url(../assets/images/Classical_spectacular10.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

.top-info2 {
  background:
    linear-gradient(rgba(247, 242, 242, 0.233), rgba(245, 240, 240, 0.5)),
    url(../assets/images/Classical_spectacular10.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

.more-info {
  color: var(--black);
  background: rgb(245, 237, 237);
  font-size: small;
  border: 2px solid;
  border-color: white;
}

.date {
  font-family: "cocogoose", sans-serif;
  font-size: 2.5rem;
  color: var(--black);
}

.about-desc {
  width: 85%;
  font-size: medium;
  margin: 10rem auto;
  border-color: #eee;
}

.sub-top-info {
  color: var(--red);
  font-family: "Cocogoose_trial", sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
}

.live-music {
  font-family: "Cocogoose_trial", sans-serif;
  font-weight: bolder;
  font-size: 5rem;
  color: var(--red);
}

.live-music-about {
  font-weight: bolder;
  color: var(--red);
  font-size: 4rem;
  text-align: center;
  font-family: "Cocogoose_trial", sans-serif;
  margin-top: 5rem;
}

.more-info-about {
  background-color: white;
  border: 2px solid var(--white);
  margin-right: 12rem;
  margin-left: 12rem;
}

@media (max-width: 768px) {
  .more-info2 {
    background: #f7e8e8;
    font-size: small;
    border: 1px solid;
    border-color: #fff;
    margin: 20rem auto;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .live-music-about {
    font-size: 3rem;
  }
}

.tickets {
  width: 70%;
  margin-bottom: 2.5rem;
}

.tab-design {
  background-image:
    linear-gradient(
      45deg,
      #ec5242 12.5%,
      #fff 12.5%,
      #fff 25%,
      #3d6f8e 25%,
      #3d6f8e 37.5%,
      #fff 37.5%,
      #fff 5%,
      #ec5242 5%,
      #ec5242 62.5%,
      #fff 62.5%,
      #fff 75%,
      #3d6f8e 75%,
      #3d6f8e 87.5%,
      #fff 87.5%,
      #fff 100%
    );
  background-size: 40px 40px;
  overflow-x: auto;
}

.time {
  font-weight: bold;
  color: var(--black);
  background: rgba(224, 255, 255, 0.418);
  width: 100%;
  margin-left: 0;
}

.main-program {
  background-image: url("../assets/images/main-bg.svg");
  background-size: cover;
  text-align: center;
  background-color: white;
}

.about-main {
  background-image: unset;
  background-size: unset;
}

.about-logo {
  margin: 1rem auto;
  width: 60%;
}

.ticket-main {
  background-color: rgb(219, 211, 211);
  background-image: unset;
  background-size: unset;
}

.logo-about {
  width: 10rem;
  height: 7rem;
}

.evt {
  width: 60%;
  height: 40%;
}

.event1 {
  background: url(../assets/images/event1.jpg) no-repeat center;
  background-size: cover;
  padding: 0;
}

.event2 {
  background: url(../assets/images/event2.jpeg) no-repeat;
  background-size: cover;
  padding: 0;
}

.bg-glow {
  width: 100%;
  height: 100%;
  background-color: rgba(126, 55, 5, 0.671);
  padding: 80px 80px;
}

.line-break {
  border: 2px solid var(--red);
  width: 2rem;
  margin: 0 auto;
}

.lecture-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.lecture-logo {
  width: 20%;
  background: #adabab38;
  height: 17rem;
  line-height: 1.2;
  margin-top: 6rem;
  padding: 5px;
}

.p-head {
  font-size: 1.2rem;
  color: var(--red);
}

.p-details {
  font-size: medium;
}

h3.main-h {
  margin-top: 2rem;
}

.lecture-para {
  display: flex;
  border: 1px dotted pink;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

div.lecture-para {
  width: 80%;
  height: 50%;
  margin: auto;
}

.speaker {
  height: 100%;
  width: 100%;
}

.lecture-para > p {
  display: flex;
  padding-left: 6rem;
  padding-bottom: 4rem;
  justify-content: flex-end;
  color: white;
}

.lecture-logo > img {
  height: 40%;
  width: 60%;
  padding-left: 2rem;
}

.rad {
  color: var(--red);
  font-weight: bolder;
}

.event-head {
  background: var(--white);
}

.rounded-header {
  width: auto;
  max-width: max-content;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.bring-up {
  position: relative;
  top: -1.5rem;
  width: 3.5%;
}

.lecture-logo > h4 {
  padding-left: 10rem;
}

.join-button {
  background-color: var(--red);
  color: var(--red);
  font-weight: bolder;
  font-size: x-large;
  padding: 2rem 4rem;
}

/* -----------------------------MEDIA QUERIES-------------------------------- */

@media (max-width: 768px) {
  .evt {
    width: 100%;
    height: 15rem;
  }

  .about-past-symposium {
    flex-direction: column;
  }

  .about-logo {
    margin: 1rem auto;
    width: 60%;
  }

  .tickets {
    width: 100%;
  }

  .bring-up {
    top: -1rem;
    width: 5%;
  }

  .more-info-about {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .top-info {
    padding-top: 2.6rem;
  }

  .more-info {
    min-width: 100%;
  }

  .navbar-logo {
    display: none;
  }

  .date {
    font-size: 1.5px;
  }

  .logo {
    display: none;
  }

  .lecture-article {
    flex-direction: column;
    margin: 1rem 0;
  }

  .lecture-logo {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    text-align: left;
    height: 8rem;
  }

  .p-head {
    font-size: 1.3rem;
    overflow-wrap: break-word;
  }

  /* .p-more {
    font-size: medium;
    margin: auto;
    float: left;
  } */

  .sub-top-info {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .live-music {
    font-size: 3rem;
  }

  .seewhole {
    display: none;
  }

  .box2,
  .box3,
  .box4,
  .box5 {
    display: none;
  }

  .teams-section,
  .main-footer {
    display: none;
  }
}

@media (min-width: 768px) {
  .tickets {
    width: 85%;
  }

  .bring-up {
    top: -1.2rem;
    width: 4%;
  }

  .p-more {
    display: flex;
    justify-content: right;
  }

  .p-head {
    margin-left: 2rem;
  }

  .pg4 {
    border: 3px solid white;
  }

  .red-button {
    border-width: 0.2rem;
    font-size: x-small;
  }

  .top-title {
    min-width: 80%;
  }

  .sub-top-info {
    font-size: large;
  }

  .more-info {
    min-width: 65%;
    margin-left: 5.5rem;
  }

  .more-info2 {
    min-width: 75%;
  }

  .live-music {
    font-size: 4rem;
  }

  .lecture-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
  }

  /* .main-program {
    height: 700px;
  } */
}

.teams {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-content: flex-end;
  color: var(--black);
  flex-direction: row;
  flex-wrap: wrap;
}

.team {
  width: 23%;
  margin: 0.08rem auto;
  justify-self: center;
  align-content: flex-end;
}

.teams-section {
  background: #4b4848;
  color: rgb(143, 138, 138);
}

@media (max-width: 768px) {
  .team {
    width: 44%;
  }
}

.footer-logo {
  height: 3rem;
  width: 4rem;
}

.bg-footer {
  color: rgb(95, 88, 88);
  background: #0c0b0b;
}
