/*--------------- CSS Quick Fixes----------------------------- */

:root {
   box-sizing: border-box;
 
   --button-bg-color: #567b95;
   --button-bg-hover-color: #3b5568;
   --link-text-color: #246a9c;
   --icons-bg-color: #eee;
   --text-color-dark: rgb(12, 11, 11);
   --text-color-light: rgb(105, 102, 102);
 }
 
 *,
 ::before,
 ::after {
   box-sizing: inherit;
 }
 /*----------x------ CSS Quick Fixes ----------x------------------*/


:root{
   /* Theme colors */
   --black: #272A31;
   --red:#EC5242;
   --white:#D3D3D3;

}

body{
   /* overflow-x: hidden; */
   font-family: 'Lato', sans-serif, cocogoose;
   background: url(assets/images/bg-img.jpg);
}

@font-face{
   font-family: "cocogoose";
   src: url(/assets/fonts/cocogoose/Cocogoose-Thin.ttf);
   font-style: normal;
   font-weight: 100;
}
.top-social {
   background: var(--black);
   height: 2.8rem;
   padding: .5rem 0;
   }

   .top-social a{
      text-decoration: none;
      color: dark;
      font-size: 1.1rem;
      padding: .5rem;
   }
   .navbar{
   font-size: 1.14rem;
   font-weight: 900;
   letter-spacing: .1rem;  
   box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
   z-index: 1; 
   }

   .nav-item {
      padding: .5rem;
      
   }

   .nav-link.active,
   nav-link:hover {
      color: var(--red) !important;
   }
   .logo {
      width: 4rem;
      height: 4rem;
      margin-top: 0rem;
   }
   
   section{
      }


   h1.big-p, h3.hello{
     margin: 1rem 1rem 1rem;
     border: 1px solid red;
     
         }
  .top-pg>p, div.small-article{
   margin: 1rem 1rem 1rem;;
   border: 1px solid red;
   font-family: cocogoose;
   font-weight: 100;
  }
.main-program>.lecture{
   border: 1px solid red;
}
.main-program{
   /* background-image: url(/assets/images/mainProgram.jpg); */
   background-color: #242527;
  }
  h3.main-h{
     margin-top: 2rem;
  }

/* ------Navigation----------  */
   

 
 /* -----------------------------MEDIA QUERIES-------------------------------- */
 /*------ Device under 768px------ */

 @media (max-width: 768px){

 }

 /* -----------Device under 1199px--------- (xl) */

 @media (max-width: 1199.98px){

 }
/* ---------Bootstrap mobile gutter fixed------ */
.row, .container-fluid {
   margin-left: 0px !important;
   margin-right: 0px !important;
}

/* ----Fixed background image----- */
/* .fixed-background {
   position: relative;
   width: 100%;
   z-index: 1000 !important;
}
.fixed-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.fixed {
   z-index: -199 !important;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translate(0);
} */